#Create a snippet for laying out the default test.
snippet jest_test
	it('${1:Test shall have a description}', () => {

		${3:// TODO implement me!}
		const expected = ${2:1};

		expect(1).toEqual(expected);
	});
